body{
	background-color: black;

}
#board{
	
	margin-left: 350px;
	margin-right: 350px;
	height: 600px;
	width: 500px;
	background-color: black;
	float: left;
	
}

#leftlanes{
	/*border:1px solid white;*/
	height:600px;
	width:250px;
	float:left;
	position:relative;
	
	
	
}

#lane1{
	border:1px solid white;
	height:600px;
	width:123px;
	float:left;
	
}

#lane2{
	border:1px solid white;
	height:600px;
	width:123px;
	overflow: hidden;
}

#rightlanes{
	/*border:1px solid white;*/
	height:600px;
	width:250px;
	overflow:hidden;
	position:relative;
		
}

#lane3{
	border:1px solid white;
	height:600px;
	width:123px;
	float:left;
}

#lane4{
	border:1px solid white;
	height:600px;
	width:123px;
	overflow: hidden;
}

#scoreh2{
	color: white;
}






