body{
	/*background-color: black;*/
	background: #44484a;

}

#screen{
	
}

#board{
	
/*	margin-left: 350px;
	margin-right: 350px;
*/	
	position:absolute;
	height: 100%;
	width: 501px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	background-color: black;
	border:1px solid grey;
	display: relative;

	/*display: inline-block;*/
	/*float: left;*/
	
}

#leftlanes{
	
	height:100%;
	width:248px;
	display: inline-flex;
	/*float:left;*/
	position:relative;
		
}



#lane1{
	border-right:1px solid grey;
	height:100%;
	width:124px;
	/*background: red;*/
	/*float:left;*/
	
	
}

#lane2{
	border-right:1px solid grey;
	height:100%;
	width:124px;
	/*background: blue;*/
	/*float:right;*/
	/*overflow: hidden;*/
	/*float:right;*/
	
}


#rightlanes{
	
	height:100%;
	width:248px;
	display: inline-flex;
	/*overflow:hidden;*/
	position:relative;
		
}
#lane3{
	border-right:1px solid grey;
	height:100%;
	width:124px;
	/*background: yellow;*/
	/*float:left;*/
}

#lane4{
	/*border:1px solid white;*/
	height:100%;
	width:124px;
	/*background: pink;*/
	/*overflow: hidden;*/
}

#scoreh2{
	color: #4766d6;
}

#scorediv{
	position: absolute;
	height: 100%;
	width: 124px;
	right:0;
	top:0;

	
}

#instructions{
	color: white;
}


#playagain{

  position: absolute;
  /*min-width: 70%;*/
  top: 30%;
  left:44%;
  display: none;
}

/*#playagainbutton{
	display: none;
}*/
  



